body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: darkgoldenrod;
}

img {
    width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h3{
    color:rgb(84, 25, 139);
    text-align: center;
    background-color: rgba(184, 53, 74, 0.486);
}

h3 {
    background-color: #18539667;
}

ul, ol, p {
    color:rgb(240, 12, 58);
    font-weight: 500;
}
